.navbar {
    border-bottom: solid 1px rgb(10, 185, 10);

}

.header-text {
    text-align: start;
}

.button {
    border-radius: 50px;
    border: solid 1px white;
    width: 150px;
    height: 40px;
    margin: 0px 0px 0px -400px;
}

.invester {
    margin: 0px 0px 0px 130px;
}

.About {

    margin: 0px 0px 0px 130px;
}

.mobile1 {
    background-image: url(img/mobile2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 600px;
    padding-right: 340px;
}

.about-button {
    margin: 0px 0px 0px 190px;
}

.clients-img {

    margin: 70px 0px 0px 5px;
    height: 20px;
    width: 20px;
    padding: 50px 70px 0px 0px;
 
}

.clients-text{
    margin: 0px 0px 0px -200px;
   
   
}

.clients-name {
    margin: 25px 0px 0px -100px;
}

.clients-skil {

    margin: 15px 0px 0px -100px;
}

.dot {
    font-size: 70px;
}

.footer {
    height: 130px;
    background-image: linear-gradient(to bottom right, rgb(0, 248, 0), rgb(161, 236, 161));
}

.footer-text {
    font-size: 30px;
}

.footer-button {
    margin: 43px 0px 0px 375px;
}

.form-img {
    background-image: url(img/banner-new.jpg);
}

.container-form {
    text-align: center;
    padding: 20px;
    margin: 10px;
    color: black;
    margin: 0px 388px 0px 380px;
}

.user-name {
    margin: 15px 0px 0px 0px;
    width: 100%;
    border: 0px;
}

.form-button {
    margin: 0px 0px 0px 7px;
}


@media only screen and (max-width: 600px) {
    .logo {
        margin: 0px 0px 0px -40px;
    }

    .nav-btn {
        margin: 0px -35px 0px 0px;
    }

    .banner-img {
        height: 300px;
        width: auto;
    }

    .header-text {
        margin: 25px 0px 0px 85px;
        font-size: 30px;
    }

    .text {
        font-size: 13px;
        margin: 0px 0px 0px 40px;
    }

    .button {
        margin: 0px 0px 0px 1px;
    }

    .features {
        font-size: 20px;
     
    }

    .cardd {
        width: 21rem;
    }

    .invester {
        margin: 0px 0px 0px 100px;
    }

    .About {
        margin: 0px 0px 0px 65px;
        font-size: 28px;
    }

    .aboutus-img {
        height: 200px;
        width: 300px;
    }

    .mobile1 {
        height: 350px;
        width: 290px;
        padding-right: 119px;
        margin: 0px 0px 0px 59px;
    }

    .footer-text {
        font-size: 22px;
    }

    .footer-button {
        margin: 43px 0px 0px 0px;
    }

    .about-button {
        margin: 0px 0px 0px 95px;
    }

    .container-form {
        margin: 0px 0px 0px 0px;
    }

    .clients-img {
        margin: 190px 0px 0px 10px;
        padding: 10px 250px 0px 0px;
    }
    
    .clients-text{
        margin: -300px 0px 0px 0px;
    }
    
    .clients-name {
       margin: 50px 0px 0px 90px;
    }
    
    .clients-skil {
        margin: 15px 0px 0px 100px;
    }

}




.owl-nav {
    font-size: 130%;
    text-align: end !important;
  }
  
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    color: rgb(0, 0, 0);
    background-color: rgb(8, 8, 8);
    border-radius: 50%;
    border: 5px solid rgb(14, 14, 14);
    width: 50px;
    height: 50px;
  }